
@model DtoListaEstado
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Informações sobre COVID19</h1>

    <div id="install-container">
    <button class="btn btn-primary"onclick="pageEvents.tryAddHomeScreen();" class="btn-link no-style">Clique aqui</button>
    e adicione CovidInfo na sua home!
    </div>
</div>

@* 
<div class="container">
    <div class="mt-4">
        <h2>Quantidade de casos por estado</h2>
    </div>

    @foreach (var estado in Model.Data)
    {
        <div class="card mt-3 mb-3 mw-100">
            <div class="card-body flex-column">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <h3 class="card-title">
                        @estado.State
                    </h3>
                    <p class="card-text">
                        Casos confirmados: @estado.Cases
                    </p>
                    <p class="card-text">
                        Mortes: @estado.Deaths
                    </p>
                    <p class="card-text">
                        Suspeitas: @estado.Suspects
                    </p>
                </div>
            </div>
        </div>
    }
</div> *@

<div class="blog-list card-columns" id="bloglist"></div>

<script id="blog-card" type="text/template">
    <div class="card mt-3 mb-3">
        <div class="card-body flex-column">
            <h3 class="card-title"> {{State}}</h3>
            <p class="cardtext">Casos confirmados: {{Cases}}</p>
            <p class="cardtext">Mortes: {{Deaths}}</p>
            <p class="cardtext">Suspeitas: {{Suspects}}</p>
        </div>
    </div>
</script>