
@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-info show" id="connectionstatus"></div>

<div class="text-center">
    <h1 class="display-4">Informações sobre COVID19</h1>

    <div id="install-container">
    <button class="btn btn-primary"onclick="pageEvents.tryAddHomeScreen();" class="btn-link no-style">Clique aqui</button>
    e adicione CovidInfo na sua home!
    </div>
</div>

<div class="blog-list card-columns" id="bloglist"></div>

<script id="blog-card" type="text/template">
    <div class="card mt-3 mb-3">
        <div class="card-body flex-column">
            <h3 class="card-title"> {{State}}</h3>
            <p class="cardtext">Casos confirmados: {{Cases}}</p>
            <p class="cardtext">Mortes: {{Deaths}}</p>
            <p class="cardtext">Suspeitas: {{Suspects}}</p>
        </div>
    </div>
</script>

<div class="center">
 <button class="btn btn-primary"
onclick="pageEvents.loadMoreBlogPosts();">ver mais</button>
 <br /><br />
</div>
